.battle-map-container {
    font-family: 'Poppins', sans-serif;
}

.battle-zone{
    border: 1px solid black;
    display: flex;
}

.battlemap { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 1000px;
    margin: auto;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.intro-container button {
    cursor: pointer;
}

.end-game-container {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.play-again-button {
    font-size: 55px;
}
