.battle-zone-container {
    border: 1px solid black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.battle-zone-container:hover {
    background-color: #a9a9a9; 
}